{% for msg in msgs %}
	{{ msg }} <br />
{% endfor %}
<br />
Повторы ({{ retrys|length }}) <br />

{#<div style="width: 600px;">#}
	{#{% for key,retry in retrys %}#}
		{#{{ key }} - {{ retry }} <br />#}
	{#{% endfor %}#}
{#</div>#}
